# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\margus.paas\Documents\Akadeemiline_kaust\Objektorienteeritud\Kodutööd\Autovõrdlus_projekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
